In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('data/wine.data', header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [7]:
df.shape

(178, 14)

In [8]:
col_names = [
"class","Alcohol","Malic Acid","Ash","Alcalinity of Ash","Magnesium","Total Phenols","Flavanoids","Nonflavanoids Phenols"
    ,"Proanthocyanins","Color Intensity","Hue","OD280/OD315 of diluted wines","Proline"]

df.columns = col_names
df.columns

Index(['class', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash',
       'Magnesium', 'Total Phenols', 'Flavanoids', 'Nonflavanoids Phenols',
       'Proanthocyanins', 'Color Intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

In [9]:
df.head()

,class,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoids Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   class                         178 non-null    int64
 1   Alcohol                       178 non-null    float64
 2   Malic Acid                    178 non-null    float64
 3   Ash                           178 non-null    float64
 4   Alcalinity of Ash             178 non-null    float64
 5   Magnesium                     178 non-null    int64
 6   Total Phenols                 178 non-null    float64
 7   Flavanoids                    178 non-null    float64
 8   Nonflavanoids Phenols         178 non-null    float64
 9   Proanthocyanins               178 non-null    float64
 10  Color Intensity               178 non-null    float64
 11  Hue                           178 non-null    float64
 12  OD280/OD315 of diluted wines  178 non-null    float64
 13  Proline                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
class,178.0,1.938202,0.775035,1.00,1.0000,2.000,3.0000,3.00
Alcohol,178.0,13.000618,0.811827,11.03,12.3625,13.050,13.6775,14.83
Malic Acid,178.0,2.336348,1.117146,0.74,1.6025,1.865,3.0825,5.80
Ash,178.0,2.366517,0.274344,1.36,2.2100,2.360,2.5575,3.23
Alcalinity of Ash,178.0,19.494944,3.339564,10.60,17.2000,19.500,21.5000,30.00
Magnesium,178.0,99.741573,14.282484,70.00,88.0000,98.000,107.0000,162.00
Total Phenols,178.0,2.295112,0.625851,0.98,1.7425,2.355,2.8000,3.88
Flavanoids,178.0,2.029270,0.998859,0.34,1.2050,2.135,2.8750,5.08
Nonflavanoids Phenols,178.0,0.361854,0.124453,0.13,0.2700,0.340,0.4375,0.66
Proanthocyanins,178.0,1.590899,0.572359,0.41,1.2500,1.555,1.9500,3.58
Color Intensity,178.0,5.058090,2.318286,1.28,3.2200,4.690,6.2000,13.00
Hue,178.0,0.957449,0.228572,0.48,0.7825,0.965,1.1200,1.71
OD280/OD315 of diluted wines,178.0,2.611685,0.709990,1.27,1.9375,2.780,3.1700,4.00
Proline,178.0,746.893258,314.907474,278.00,500.5000,673.500,985.0000,1680.00

In [15]:
categorical = [var for var in df.columns if df[var].dtype=='O']
print(f'Categorical Variables= {len(categorical)}')

Categorical Variables= 0

In [19]:
numerical = [var for var in df.columns if df[var].dtype!='O']
print(f'Numerical Variables= {len(numerical)-1}')
print(f'Numerical Columns= {numerical[1:]}')

Numerical Variables= 13
Numerical Columns= ['Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium', 'Total Phenols', 'Flavanoids', 'Nonflavanoids Phenols', 'Proanthocyanins', 'Color Intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

#Future Label

In [22]:
X = df.drop(['class'],axis=1)
y = df['class']

In [23]:
X.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoids Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [24]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: class, dtype: int64

In [25]:
y.value_counts(sort=False)

1    59
2    71
3    48
Name: class, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [27]:
X_train.shape , X_test.shape

((124, 13), (54, 13))

In [28]:
cols = X_train.columns
cols

Index(['Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium',
       'Total Phenols', 'Flavanoids', 'Nonflavanoids Phenols',
       'Proanthocyanins', 'Color Intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [31]:
X_train = sc.fit_transform(X_train)

In [32]:
X_test = sc.transform(X_test)

In [33]:
type(X_train),type(X_test)

(numpy.ndarray, numpy.ndarray)

In [34]:
X_train = pd.DataFrame(X_train,columns=[cols])
X_test = pd.DataFrame(X_test,columns=[cols])

In [35]:
X_train.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoids Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0.910831,-0.462599,-0.011426,-0.820679,0.062417,0.588204,0.935654,-0.761914,0.130072,-0.512387,0.657066,1.943545,0.937010
1,-0.956099,-0.966087,-1.537254,-0.147487,-0.554019,0.169986,0.072432,0.207913,0.784626,-0.982107,-0.408595,0.581180,-1.413367
2,0.359522,1.675016,-0.374718,0.133010,1.363782,-1.118128,-1.314889,0.531189,-0.440566,2.220529,-1.559509,-1.448466,0.286837
3,0.221695,1.047864,-0.774340,0.413506,0.130910,-1.268687,-1.458759,0.531189,-0.524483,-0.426984,-1.516883,-1.281645,0.270582
4,1.098777,-0.771758,1.114780,1.535493,-0.964977,1.156982,0.915101,-1.246827,0.432174,-0.691735,1.722727,0.775804,-1.094782

In [36]:
X_test.head()

,Alcohol,Malic Acid,Ash,Alcalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoids Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of diluted wines,Proline
0,0.948420,-0.630428,-0.411048,-0.876778,1.226796,0.571476,0.956207,-1.246827,0.012588,0.363000,-0.152836,0.831410,1.018282
1,-0.241905,0.252884,0.424525,0.694003,0.815839,-1.302144,-0.626366,-1.004371,-0.591617,2.476740,-2.028400,-1.573581,-0.867221
2,-0.768153,-1.107417,-0.738011,-0.147487,-0.896484,2.077063,1.161736,-1.408465,0.432174,-0.234826,1.125957,0.372655,-1.062273
3,0.722885,-0.577430,0.351866,0.273258,1.089811,1.173711,0.832890,-1.327646,1.405614,0.533807,0.102922,0.595082,1.213334
4,0.083868,3.017650,-0.846998,0.553755,-0.964977,0.604933,0.699296,-0.519457,0.667142,-1.024809,-0.962739,0.692393,-1.192308

#model build

In [37]:
from sklearn.naive_bayes import GaussianNB

In [38]:
gauNB = GaussianNB()

In [39]:
gauNB.fit(X_train,y_train)

GaussianNB()

#prediction

In [40]:
y_pred = gauNB.predict(X_test)
y_pred

array([1, 3, 2, 1, 2, 2, 1, 3, 2, 2, 3, 3, 1, 1, 3, 2, 1, 1, 3, 1, 1, 1,
       1, 2, 2, 2, 2, 2, 2, 3, 1, 1, 2, 1, 1, 1, 3, 2, 2, 3, 1, 1, 2, 2,
       2, 1, 3, 2, 3, 1, 3, 3, 1, 3])

#accuracy score check

In [44]:
from sklearn.metrics import accuracy_score
print(f'Accuracy Score of our module= {accuracy_score(y_test,y_pred)}')

Accuracy Score of our module= 0.9444444444444444

#overfittin underfitting control

In [47]:
print(f'Train Data Score= {gauNB.score(X_train,y_train)}')
print(f'Test Data Score= {gauNB.score(X_test,y_test)}')

Train Data Score= 0.9838709677419355
Test Data Score= 0.9444444444444444